.outer{
    background-color: #272727;
}

.navbar {
    background-color: #373333;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 5px;
    margin-right: 5px;
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: #585656;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

.navbar button {
    background-color: #373333;
    border-color: #373333;
}

.container-fluid{
    background-color: #272727;
}

.col-3 {
    background-color: #e9e2e2;
    border-style: solid;
    border-width: 2px;
    border-color: #9c9999;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 6px;
    height: 100vh;
    padding-top: 5px;
}

.input-group input{
    border-radius: 0;
    width: 100%;
    margin-left: -12px;
    margin-right: -12px;
}

.list-group-item.active{
    background-color: #585656;
    border-color: #ffffff;
    border-radius: 0;
}



.list-group-item+.list-group-item {
    border-radius: 0;
}


.col-8 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    max-width: 100vw;
}

.title {
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    border-color: #9c9999;
    width: 100%;
}

.list_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 200px;
}

.to-do {
    padding-right: 200px;
}

.col-8 button {
    width: 100px;
}

.form-check {
    padding-top: 15px;
}